.bmi_scale {
    box-shadow: none;
    padding: 0;
}

.color_circle {
    display: inline;
    width: 15px;
    height: 15px;
    background-color: red;
    margin: auto 0;
    margin-right: 5px;
    border-radius: 50%;
}

.selected {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel-header-title {
    width: min-content;
    min-width: 180px;
}