<mat-card class="bmi_scale">
   <mat-accordion>
      <mat-expansion-panel 
          hideToggle
          *ngFor="let entry of skala_bmi; let i=index" 
          [expanded]="i == open_panel"
        >
        <mat-expansion-panel-header>
          <mat-panel-title> 
            <span 
              class="color_circle" 
              [class.selected]="i == open_panel" 
              style="background-color: {{entry.color}};"
            ></span>
               {{entry.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{entry.scale_human}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

   </mat-accordion>
   
</mat-card>