<mat-card class="root_card">
    <mat-card class="input_card">
        <mat-card class="form_card">
            <form [formGroup]="bmiForm">
                <mat-form-field>
                    <mat-label>Waga</mat-label>
                    <input matInput type="number" formControlName="weight" min="0">
                    <span matSuffix>kg</span>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Wzrost</mat-label>
                    <input matInput type="number" formControlName="height" min="0">
                    <span matSuffix>cm</span>
                </mat-form-field>
            </form> 
        </mat-card>

        <mat-card class="bmi_card">
            <mat-card-title style="white-space: nowrap;">Twoje BMI to:</mat-card-title>
            <mat-card-content class="onehugenumber">{{readableBmi}}</mat-card-content>
        </mat-card> 
    </mat-card>
    
    <app-bmi-scale class="scale_card" [bmi]="calculatedBmi"></app-bmi-scale>
    
</mat-card>