.root_card {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    padding: 0;
    margin: 15px;
}

.input_card {
    flex-grow: 1;
    min-width: 10em;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.bmi_card {
    margin-top: 10px;
}

.scale_card {
    flex-grow:3;
    min-width: 25em;
}

.onehugenumber {
    font-size: 120px;
    display: inline-block;
    margin-top: 40px;
    width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input {
    text-align: right;
}

.mat-form-field {
    /* max-width: 5em; */
    display: block;
}